<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>Declick AU (AR interpolation)</string>
			<key>factoryFunction</key>
			<string>${PRODUCT_NAME:identifier}Factory</string>
			<key>manufacturer</key>
			<string>Shlc</string>
			<key>name</key>
			<string>ShellacFilters: Declick</string>
			<key>subtype</key>
			<string>dclk</string>
			<key>type</key>
			<string>aufx</string>
			<key>version</key>
			<integer>65537</integer>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.shellacfilters.audiounit.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleName</key>
	<string>${PROJECTNAMEASIDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>Shlc</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
